* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.78rem;
  color: #6e6e6e;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
  display: block;
}

.container {
  margin: 0 auto;
}

.background-img {
  background: url(images/background.jpg) 50% 100% no-repeat;
  height: 1535px;
  width: 100%;
  max-width: 1349px;
  margin: 0 auto;
  margin-top: -997px;
  z-index: -1;
}

/* TEXTS IN FRONT OF BACKGROUND IMAGE */

.middle-text {
  width: 980px;
  margin: -410px auto 0 auto;
  cursor: pointer;
  padding-bottom: 112px;
}

.middle-text div {
  margin-top: 20px;
  height: 80px;
}

.middle-text-header {
  background: url(images/header-top.png) no-repeat;
}

.middle-text-center {
  background: url(images/header-center.png) no-repeat;
}

.middle-text-bottom {
  background: url(images/header-bottom.png) no-repeat;
  margin-left: 100px;
}

.middle-text-bottom:hover {
  background: url(images/header-bottom-hover.png) no-repeat;
}